{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Music</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Music</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-xs-12">
                <p>
                    All of my albums are available to listen to online, absolutely free of charge. The early albums
                    are quite simplistic; I'd recommend starting with <em>The Unravelling of Travelling</em> or any album after that.
                </p>
                <p>
                    Running times are not exactly X minutes and zero seconds - that's due to what iTunes says. In
                    most cases, you'll have an unexpected bonus of anything up to 59 seconds of audio. Enjoy it!
                </p>
                <h2>Albums</h2>
            </div>
        </div>

        {% set albumItemClass = 'col-sm-3 col-xs-6 text-center' %}
        <div class="row">
            <div class="col-xs-12">
                <div class="row" style="margin-top: 10px;">
                    <div class="{{ albumItemClass }}">
                        <a href="/music/ten/">
                            <img src="/assets/img/music/ten-cover-temporary.jpg" alt="Ten" class="music-landing-album-cover">
                        </a>
                        <br>
                        <span class="album-grid-title">
                            <a href="/music/ten/">Ten</a>
                        </span>
                        <span class="album-grid-info">
                            #10 | Feb 2017 | ?? tracks | TBD
                        </span>
                    </div>
                    <div class="{{ albumItemClass }}">
                        <a href="/music/voyage-into-space/">
                            <img src="/assets/img/music/voyage-into-space-cover-500px.jpg" alt="Voyage into Space" class="music-landing-album-cover">
                        </a>
                        <br>
                        <span class="album-grid-title">
                            <a href="/music/voyage-into-space/">Voyage into Space</a>
                        </span>
                        <span class="album-grid-info">
                            #9 | Nov 2016 | 9 tracks | 46:00
                        </span>
                    </div>
                    <div class="{{ albumItemClass }}">
                        <a href="/music/revisited/">
                            <img src="/assets/img/music/revisited-250px.jpg" alt="Revisited" class="music-landing-album-cover">
                        </a>
                        <span class="album-grid-title">
                            <a href="/music/revisited/">Revisited</a>
                        </span>
                        <span class="album-grid-info">
                            #8 | Sep 2016 | 20 tracks | 76:00
                        </span>
                    </div>
                    <div class="{{ albumItemClass }}">
                        <a href="/music/symmetry-2/">
                            <img src="/assets/img/music/symmetry-2-cover-250px.png" alt="Symmetry 2" class="music-landing-album-cover">
                        </a>
                        <span class="album-grid-title">
                            <a href="/music/symmetry-2/">Symmetry 2</a>
                        </span>
                        <span class="album-grid-info">
                            #7 | Mar 2016 | 11 tracks | 54:00
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="{{ albumItemClass }}">
                        <a href="/music/symmetry-1/">
                            <img src="/assets/img/music/symmetry-1-cover-250px.png" alt="Symmetry 1" class="music-landing-album-cover">
                        </a>
                        <span class="album-grid-title">
                            <a href="/music/symmetry-1/">Symmetry 1</a>
                        </span>
                        <span class="album-grid-info">
                            #6 | Mar 2016 | 11 tracks | 49:00
                        </span>
                    </div>
                    <div class="{{ albumItemClass }}">
                        <a href="/music/a-change-of-scenery/">
                            <img src="/assets/img/music/a-change-of-scenery-250px.jpg" alt="A Change of Scenery" class="music-landing-album-cover">
                        </a>
                        <span class="album-grid-title">
                            <a href="/music/a-change-of-scenery/">A Change of Scenery</a>
                        </span>
                        <span class="album-grid-info">
                            #5 | Nov 2009 | 20 tracks | 71:00
                        </span>
                    </div>
                    <div class="{{ albumItemClass }}">
                        <a href="/music/the-unravelling-of-travelling/">
                            <img src="/assets/img/music/the-unravelling-of-travelling-250px.jpg" alt="The Unravelling of Travelling" class="music-landing-album-cover">
                        </a>
                        <span class="album-grid-title">
                            <a href="/music/the-unravelling-of-travelling/">The Unravelling of Travelling</a>
                        </span>
                        <span class="album-grid-info">
                            #4 | Jan 2008 | 21 tracks | 73:00
                        </span>
                    </div>
                    <div class="{{ albumItemClass }}">
                        <a href="/music/twice-midnight/">
                            <img src="/assets/img/music/twice-midnight-250px.jpg" alt="Twice Midnight" class="music-landing-album-cover">
                        </a>
                        <span class="album-grid-title">
                            <a href="/music/twice-midnight/">Twice Midnight</a>
                        </span>
                        <span class="album-grid-info">
                            #3 | Mar 2008 | 19 tracks | 74:00
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="{{ albumItemClass }}">
                        <a href="/music/hidden-in-the-beyond/">
                            <img src="/assets/img/music/hidden-in-the-beyond-250px.jpg" alt="Hidden in the Beyond" class="music-landing-album-cover">
                        </a>
                        <span class="album-grid-title">
                            <a href="/music/hidden-in-the-beyond/">Hidden in the Beyond</a>
                        </span>
                        <span class="album-grid-info">
                            #1A | Jan 2007 | 13 tracks | 69:00
                        </span>
                    </div>
                    <div class="{{ albumItemClass }}">
                        <a href="/music/besidewalk-plight/">
                            <img src="/assets/img/music/besidewalk-plight-250px.jpg" alt="Besidewalk Plight" class="music-landing-album-cover">
                        </a>
                        <span class="album-grid-title">
                            <a href="/music/besidewalk-plight/">Besidewalk Plight</a>
                        </span>
                        <span class="album-grid-info">
                            #2 | Jun 2006 | 15 tracks | 51:00
                        </span>
                    </div>
                    <div class="{{ albumItemClass }}">
                        <a href="/music/a-world-beyond/">
                            <img src="/assets/img/music/a-world-beyond-250px.jpg" alt="A World Beyond" class="music-landing-album-cover">
                        </a>
                        <span class="album-grid-title">
                            <a href="/music/a-world-beyond/">A World Beyond</a>
                        </span>
                        <span class="album-grid-info">
                            #1 | Nov 2005 | 17 tracks | 65:00
                        </span>
                    </div>
                    <div class="{{ albumItemClass }}">
                    </div>
                </div>
            </div>

        </div>

        {#
        <div class="row">
            <div class="col-md-6">
                <h2>New tracks</h2>
                <p>These links go to Soundcloud.</p>
                <ul>
                    <li><a href="https://soundcloud.com/ben-barden/the-turning-tide-2013-remix">The Turning Tide (2013 Remix)</a></li>
                    <li><a href="https://soundcloud.com/ben-barden/november-dawn">November Dawn</a> – added 17 November 2014</li>
                    <li><a href="https://soundcloud.com/ben-barden/turn-it-up">Turn It Up</a> – added 18 November 2014</li>
                    <li><a href="https://soundcloud.com/ben-barden/aries-part-3-2015-remix">Aries Part 3 (2015 Remix)</a> – added 19 January 2015</li>
                    <li><a href="https://soundcloud.com/ben-barden/overture">Overture</a> – added 1 March 2015</li>
                    <li><a href="https://soundcloud.com/ben-barden/first-tide">First Tide</a> – added 8 March 2015</li>
                    <li><a href="https://soundcloud.com/ben-barden/chronicles">Chronicles</a> – added 22 March 2015</li>
                    <li><a href="https://soundcloud.com/ben-barden/measure-an-infinite-distance-2015-remix">Measure an infinite distance (2015 remix)</a> - added 24 March 2015</li>
                    <li><a href="https://soundcloud.com/ben-barden/low-gravity-2015-remix">Low Gravity (2015 remix)</a> - added 24 March 2015</li>
                    <li><a href="https://soundcloud.com/ben-barden/legacy-layers">Legacy Layers</a> - added 31 March 2015</li>
                    <li><a href="https://soundcloud.com/ben-barden/the-dark-room">The Dark Room</a> - added 31 March 2015</li>
                    <li><a href="https://soundcloud.com/ben-barden/dry-ice">Dry Ice</a> - added 31 March 2015</li>
                    <li><a href="https://soundcloud.com/ben-barden/subterranean-labyrinth-2015-remix">Subterranean Labyrinth (2015 remix)</a> - added 29 June 2015</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Favourite artists</h2>
                <ul>
                    <li>Above &amp; Beyond</li>
                    <li>All Good Funk Alliance</li>
                    <li>The Beatles</li>
                    <li>Big Boss Man</li>
                    <li>BMD</li>
                    <li>Bruce Hornsby</li>
                    <li>Chicane</li>
                    <li>Crowded House</li>
                    <li>Dan Arborise</li>
                    <li>Dan Croll</li>
                    <li>David Gray</li>
                    <li>Dire Straits</li>
                    <li>The Divine Comedy</li>
                    <li>Elton John</li>
                    <li>Everything But The Girl</li>
                    <li>Fleetwood Mac</li>
                    <li>Genesis</li>
                    <li>Goldfrapp</li>
                    <li>Jaytech</li>
                    <li>Jean Michel Jarre</li>
                    <li>Late Night Alumni</li>
                    <li>Mark Knopfler</li>
                    <li>Martin Solveig</li>
                    <li>Mike &amp; the Mechanics</li>
                    <li>Mike Oldfield</li>
                    <li>Moby</li>
                    <li>Paul McCartney</li>
                    <li>Simon &amp; Garfunkel</li>
                    <li>Skeewiff</li>
                    <li>Smoove &amp; Turrell</li>
                    <li>Solarstone</li>
                    <li>Space Manoeuvres</li>
                    <li>Timewarp Inc.</li>
                </ul>
            </div>
        </div>
        #}

    {% include 'theme/licensing.twig' %}
    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
{% endblock footer_scripts %}
